<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-3">
            <div class="info">
                <h5 class="title">Company</h5>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1 col-sm-3">
            <div class="info">
                <h5 class="title"> Help and Support</h5>
                 <nav>
                    <ul>
                        <li>
                            <button type="button" class="btn foot-lnk" data-placement="bottom" data-toggle="modal" data-target="#contactModal">Contact Us</button>
                        </li>
                        <li>
                            <a href="consulting.html">Our Services</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="info">
                <h5 class="title">Latest News</h5>
                <div id="foobar"></div>
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.instagram.com/infinite_tree_nursery" target="_blank" class="lnk" id="Tweet1">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/infinite_tree_nursery" target="_blank" class="lnk" id="Tweet2">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1 col-sm-4">
            <div class="info">
                <h5 class="title">Connect With Us</h5>
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.instagram.com/infinite_tree_nursery" target="_blank" class="lnk">
                                <i class="fab fa-instagram"></i> On Instagram
                            </a>
                        </li>
                        <li>
                            <a href="mailto:hello@infinite-tree.com" class="lnk">
                                <i class="fa fa-envelope"></i> hello@infinite-tree.com
                            </a>
                        </li>
                        <li>
                            <a href="tel:+15419375237" class="lnk">
                                <i class="fa fa-phone"></i> (541) 937-5237
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/maps/place/11577+Williams+Hwy,+Grants+Pass,+OR+97527/@42.3127309,-123.2680417,17z/data=!3m1!4b1!4m5!3m4!1s0x54cf87e6f3f79241:0xae277c7b91024a25!8m2!3d42.312727!4d-123.265853" class="lnk" target="_blank">
                                <i class="fas fa-map-marker-alt"></i> 11577 Williams Hwy, Grants Pass OR
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <hr>
</div>