<div class="container">
    <div class="navbar-translate">
        <a class="navbar-brand" href="https://www.infinite-tree.com">Infinite Tree</a>
        <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="index.html#page-top" class="nav-link">Home</a>
            </li>
            <li class="nav-item has-submenu">
                <a href="service.html" class="nav-link">Services</a>
                
                <ul>
                    <li><a href="hemp.html">Hemp</a></li>
                    <li><a href="olcc.html">OLCC</a></li>
                    <li><a href="consulting.html">Consulting</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="blog.html" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/infinite_tree_nursery" target="_blank">
                    <i class="fa fa-instagram"></i>
                    <span class="d-lg-none">Instagram</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/infinitetreenu1" target="_blank">
                    <i class="fa fa-twitter"></i>
                    <span class="d-lg-none">Twitter</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-rel="tooltip" title="Follow us on Facebook" data-placement="bottom" href="http://facebook.com/infinitetreenursery/" target="_blank">
                    <i class="fa fa-facebook"></i>
                    <span class="d-lg-none">Facebook</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-rel="tooltip" title="Follow us on Linkedin" data-placement="bottom" href="https://www.linkedin.com/company/infinite-tree-inc/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                    <span class="d-lg-none">Linkedin</span>
                </a>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link nav-btn" data-rel="tooltip" title="Get in touch" data-placement="bottom" data-toggle="modal" data-target="#contactModal">
                    <i class="fa fa-envelope"></i>
                    <span class="d-lg-none">We are looking forward to hearing from you!</span>
                </button>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-rel="tooltip" title="Call Us" data-placement="bottom" href="tel:+15419375237" target="_blank">
                    <i class="fa fa-phone"></i>
                    <span class="d-lg-none">(541) 937-5237</span>
                </a>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link nav-btn lnk" rel="tooltip" title="Order" data-placement="bottom" data-toggle="modal" data-target="#orderModal">Order</button>
            </li>
        </ul>
    </div>
</div>