<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel">Order Inquiry</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-form-content">
                <div class="container sending-msg hidden" id="orderProcessing">
                    <h2>Processing ...</h2>
                </div>

                <div class="container failed-msg hidden" id="orderFailed">
                    <h2>Failed to send. Email us at <a href="mailto:hello@infinite-tree.com">hello@infinite-tree.com</a>
                    </h2>
                </div>

                <div class="container success-msg hidden" id="orderSuccess">
                    <h2>Thank you! We will reach out to you shortly.</h2>
                </div>

                <form name="submit-to-google-inqueries" id="orderForm" class="contact-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>First Name</label><br>
                                <input name="first" type="text" placeholder="First Name" required>
                            </div>
                            <div class="form-group">
                                <label>Last Name</label><br>
                                <input name="last" type="text" placeholder="Last Name" required>
                            </div>
                            <div class="form-group">
                                <label>Organization</label><br>
                                <input name="organization" type="text" placeholder="Organization" required>
                            </div>
                            <div class="form-group">
                                <label>Email</label><br>
                                <input name="email" type="email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <label>Phone</label><br>
                                <input name="phone" type="text" class="form-control phone-input" id="phone"
                                    placeholder="(___) ___-____" required>
                            </div>
                            <input type="hidden" name="ContactMethod" value="">
                            <fieldset id="ContactMethod">
                                <label>How would you like to be contacted?</label><br>
                                <input type="radio" value="Email" name="ContactMethod">Email<br>
                                <input type="radio" value="Text" name="ContactMethod">Text<br>
                                <input type="radio" value="Call" name="ContactMethod">Call<br>
                            </fieldset>
                            <br>
                                <div class="form-group">
                                <label>Please verify +21 or older (thank you) </label><br>
                                <input name="birthday" type="text" class="form-control birthday-input" id="birthday"
                                    placeholder="___ /___ /____" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <input type="hidden" name="CloneType" value="">
                            <fieldset id="CloneType">
                                <label> What would you like to learn more about?</label><br>
                                <input type="radio" value="Hemp" name="CloneType"> Hemp<br>
                                <input type="radio" value="Marijuana" name="CloneType"> Marijuana<br>
                                <input type="radio" value="Hemp+Marijuana" name="CloneType"> Hemp & Marijuana<br>
                            </fieldset>
                            <br>
                            <div class="form-group">
                                <label>What are your growing methods?</label><br>
                                <input type="hidden" name="MethodIndoor" value="">
                                <input type="checkbox" name="MethodIndoor" value="yes"> Indoor<br>
                                <input type="hidden" name="MethodLightdep" value="">
                                <input type="checkbox" name="MethodLightdep" value="yes"> Lightdep<br>
                                <input type="hidden" name="MethodOutdoor" value="">
                                <input type="checkbox" name="MethodOutdoor" value="yes"> Outdoor<br>
                            </div>
                            <br>
                            <input type="hidden" name="PlantsPerSeason" value="">
                            <fieldset id="PlantsPerSeason">
                                <label>How many plants are you looking to grow a season?</label><br>
                                <input type="radio" name="PlantsPerSeason" value="500"> less than 3000<br>
                                <input type="radio" name="PlantsPerSeason" value="1000"> 3,001 - 30,000<br>
                                <input type="radio" name="PlantsPerSeason" value="2500"> 30,001 - 75,000<br>
                                <input type="radio" name="PlantsPerSeason" value="3000"> more than 75,000<br>
                            </fieldset>
                            <br>
                            <div class="form-group">
                                <label>What are your goals for 2020?</label><br>
                                <input type="hidden" name="GoalsIPM" value="">
                                <input type="checkbox" name="GoalsIPM" value="yes"> Mitigate pest/disease pressures<br>
                                <input type="hidden" name="GoalsYield" value="">
                                <input type="checkbox" name="GoalsYield" value="yes"> Increase harvest index<br>
                                <input type="hidden" name="GoalsStagger" value="">
                                <input type="checkbox" name="GoalsStagger" value="yes"> Stagger harvest times<br>
                                <input type="hidden" name="GoalsCosts" value="">
                                <input type="checkbox" name="GoalsCosts" value="yes"> Decrease processing costs<br>
                                <input type="hidden" name="GoalsTime" value="">
                                <input type="checkbox" name="GoalsTime" value="yes"> Spend more time on the business,
                                not babysitting plants!<br>
                            </div>
                        </div>
                    </div>

                    <div style="float:right;">
                        <button type="submit" class="btn btn-inf btn-round">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>